<footer style="text-align: center; padding: 5px; color: #237CBE; backgground: #F0F0F0">
  <p>
    Copyright &copy; 2015 Todd Ruhlen |
    <%= link_to "Example Studio", "http://example.com" %>
  </p>
</footer>
